<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.doctorVisitRecordinfo.dao.IDoctorVisitRecordinfoDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.doctorVisitRecordinfo.pojo.DoctorVisitRecordinfo"> 
		<id property="infoId" column="info_id" javaType="java.lang.Integer"></id> 
		<result property="vrId" column="vr_id" javaType="java.lang.Integer"></result> 
		<result property="codeId" column="code_id" javaType="java.lang.Integer"></result> 
		<result property="amt" column="amt" javaType="java.lang.Integer"></result> 
	</resultMap> 
 
	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		info_id,vr_id,code_id,amt 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from doctor_visit_recordinfo 
		where info_id = #{infoId} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from doctor_visit_recordinfo 
		where info_id = #{infoId} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.doctorVisitRecordinfo.pojo.DoctorVisitRecordinfo" > 
		insert into doctor_visit_recordinfo(vr_id,code_id,amt) 
		values (#{vrId},#{codeId},#{amt}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.doctorVisitRecordinfo.pojo.DoctorVisitRecordinfo" > 
		update doctor_visit_recordinfo 
		<set > 
			<if test="vrId != null and vrId!='' " > 
				vr_id = #{vrId}, 
			</if> 
			<if test="codeId != null and codeId!='' " > 
				code_id = #{codeId}, 
			</if> 
			<if test="amt != null and amt!='' " > 
				amt = #{amt}, 
			</if> 
		</set> 
		where info_id = #{infoId} 
	</update> 
	<update id="update" parameterType="com.qhit.doctorVisitRecordinfo.pojo.DoctorVisitRecordinfo" > 
		update doctor_visit_recordinfo 
		set  vr_id = #{vrId}, code_id = #{codeId}, amt = #{amt} 
		where info_id = #{infoId} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from doctor_visit_recordinfo 
	</select> 
	<select id="findByVrId" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from doctor_visit_recordinfo 
		where vr_id = #{vrId} 
	</select> 
	<select id="findByCodeId" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from doctor_visit_recordinfo 
		where code_id = #{codeId} 
	</select> 
	<select id="findByAmt" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from doctor_visit_recordinfo 
		where amt = #{amt} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from doctor_visit_recordinfo where info_id in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.doctorVisitRecordinfo.pojo.DoctorVisitRecordinfo" resultMap="BaseResultMap"> 
		select * from  doctor_visit_recordinfo 
		<where > 
			<if test="vrId != null and vrId!='' " > 
				 and vr_id = #{vrId} 
			</if> 
			<if test="codeId != null and codeId!='' " > 
				 and code_id = #{codeId} 
			</if> 
			<if test="amt != null and amt!='' " > 
				 and amt = #{amt} 
			</if> 
		</where> 
	</select> 
</mapper> 
